body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../imageMain/movinu.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: block;
  justify-content: center;
  width: 500px; /* movil first cambiar el tamaño */
  margin: 20px auto;
  padding: 16px;
  background-color: #000000dc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  color: #fff;
  max-height: 600px;
  min-height: 600px;
}

.image_prin > img {
  width: 200px;
  height: 150px;
}

.regis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* Espacio entre los formularios */
}

form {
  background-position: 100px;
  padding: 1.2em;
  color: black;
  border-radius: 10px;
  text-align: center;
}
#form1 .input-group {
  margin: 0;
}
#form2 .input-group {
  margin: 5px;
}
form > h3 {
  font-size: 18px;
}

.row_regis {
  display: flex;
  justify-content: center;
}

.column_regis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
}


label {
  display: block;
  font-size: 15px;
}

input[type="email"],
input[type="password"] {
  font-size: 14px;
  border-radius: 8px;
  border: 4px solid #FF1493;
  padding: 10px;
  text-align: center;
}

.input-bottom {
  margin-top: 1px;
}

input[type="submit"] {
  display: block;
  justify-content: center;
  font-size: 14px; 
  padding: 10px 20px;
  background-color: #41f6d1;
  color: black;
  border-radius: 8px;

}

input[type="button"] {
  display: block;
  justify-content: center;
  font-size: 14px; 
  padding: 10px 20px;
 margin-top: -10px;
  background-color: #ff1494;
  color:whitesmoke;
  border-radius: 8px;

}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: gray;
}







@media screen and (min-width: 768px) {
  main {
      width: 400px;
      margin: 30px auto;
      padding: 40px;
      font-size: 18px;
      max-height: 500px; 
  }
}