body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("./movinu.gif");
  background-repeat: no-repeat;
  background-size: 2000px;
}

main {
  display: block;
  justify-content: center;
  width: 300px;
  margin: 60px auto;
  padding: 16px;
  background-color: #000000cc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  border-color: #000;
  color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.448);
}

.image_prin > img {
  width: 250px;
  height: 200px;
}



form {
  background-position: 100px;
  padding: 1.2em;
  color: black;
  border-radius: 10px;
  text-align: center;
}
form #form1{
  margin:4px;
}
#form1 .input-group {
  margin: 2px;
}
#form2 .input-group {
  margin: 2px;
}
form > h3 {
  font-size: 18px;
}

.row_regis {
  display: flex;
  justify-content: center;
}

.column_regis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
}


/* label {
  display: block;
  font-size: 15px;
} */

input[type="email"],
input[type="password"] {
  font-size: 14px;
  border-radius: 8px;
  border: 3px solid #FF1493;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}

/* .input-bottom {
  margin-top: 1px;
} */


#button_sigIn{
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold; 
  padding: 10px 20px;
  background-color: #41f6d1;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.433);
  border-radius: 8px;
}

#button_log{
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 20px;
  font-size: 14px; 
  font-weight: bold;
  padding: 10px 20px;
  background-color: #41f6d1;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.643);
}

#button_sigIn:hover, #button_log:hover {
  background-color: gray;
  color: white;
  transform: translateY(4px);
}




@media screen and (min-width: 768px) {
  main {
      width: 400px;
      margin: 50px auto;
      padding: 40px;
      font-size: 18px;
      max-height: 800px;
      min-height: 600px;
     
  }
}
